body {
  margin:0px;
}

#background {
  background: linear-gradient(to bottom, #5284BA 0%, #273F59 50%);
}

.wrapper {
margin: 0px auto;
width: 900px;
height: 4300px;
padding-top: 150px;
}

.woody {
  color:#FFA14F;
  float: left;
  position:relative;
  font-family: kautiva-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20pt;
}

.buzz {
  color:#D09EE8;
  float: right;
  position: relative;
  font-family: bc-alphapipe, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20pt;
}

.psst {
  transform: rotate(10deg);
  font-size: 70pt;
  font-weight: 600;
}

.getoverhere {
  font-family: kautiva-pro, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 20pt;
  margin-top: 20px;
}

.dotdotdot {
  position: relative;
  right: 320px;
  top: 200px;
  font-size: 40pt;
  font-weight: 600;
  margin-top: 150px;
}

.oh {
  position: relative;
  left: 300px;
  top:230px;
  font-family: kautiva-pro, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 30pt;
  line-height: 1.5em;
}

.cantdothis {
  position: relative;
  left: 300px;
  top:230px;
  line-height: 1.5em;
}

.needyourhelp {
  position: relative;
  left: 300px;
  top:230px;  
}

.icant {
  position: relative;
  right: 90px;
  top:320px;
}

.whysure {
  position: relative;
  left: 205px;
  top: 330px;
  line-height: 1.5em;
}

.andys {
  position: relative;
  top: 300px;
  left: 240px;
  line-height: 1.5em;
}

.whats {
  font-style: normal;
  font-weight: 700;
  font-size: 35pt;
  position: relative;
  top: 350px;
  right: 120px;
}

.bigfall {
  position: relative;
  left: 100px;
  top:530px; 
  font-size: 28pt; 
  line-height: 1.5em;
}

.nowoody {
  font-style: normal;
  font-weight: 700;
  font-size: 25pt;
  position: relative;
  left: 470px;
  top:530px; 
}

.forthefirst {
  text-align: right;
  position: relative;
  right: 150px;
  top: 540px; 
  line-height: 1.5em;
}  

.stupid {
  font-style: italic;
  font-weight: 900;
  font-size: 35pt;
  position: relative;
  top: 350px;
  right: 50px;
}

.whoa {
  position: relative;
  top: 400px;
  left: 680px;
  font-size: 30pt;
  transform: rotate(10deg);
}

.wait {
  position: relative;
  top: 380px;
  left: 680px;
}

.being {
  position: relative;
  top: 410px;
  left: 290px;
  font-size: 40pt;
  font-weight: 700;
  text-align: center;
  line-height: 1.3em;
}


.yeah {
  position: relative;
  top: 620px;
  right: 500px;
  transform: rotate(-20deg);
}

.noitis {
  font-size: 30pt;
  position: relative;
  top: 530px;
  left: 330px;
  transform: rotate(20deg);
}

.lookover {
  position: relative;
  top: 500px;
  left: 430px;
  line-height: 1.5em;
}

.itsbecause {
  font-size: 25pt;
}

.youare {
  font-size: 40pt;
  line-height: 1.3em;
}

.butwhy {
  position:relative;
  top: 600px;
  right: 330px;
  font-size: 40px;
}

.whywould {
  position: relative;
  top: 650px;
  left: 200px;
  line-height: 1.5em;
  text-align: center;
}

.whywouldandy {
  font-size: 30pt;
}

.allican {
  position: relative;
  font-style: italic;
}

.voice {
  position: relative;
  top: 680px;
  left: 200px;
  font-size: 50pt;
  font-style: bold;
}

.everwanna {
  position: relative;
  top: 750px;
  left: 200px;
  text-align: center;
  line-height: 1.5em;
}