#uppercase-p {
  position: absolute;
  top: 50px;
  left: 25px;
}

#p-1 {
  width: 30vw;
  height: 20vh;
  background-color: transparent;
  border-top:  30px solid black;
  border-right: 30px solid black;
  border-left: 30px solid black;
  border-bottom: 30px solid black;
  border-radius: 0px 80px 80px 0px;
}

#p-2 {
  width: 30vw;
  height: 20vh;
  background-color: transparent;
  border-left: 30px solid black;
}



