/*setting*/

body {
  font-family: ibm-plex-mono, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10em;
  color: #CD7D62;
  text-align: center;
  background-color: #EBBF80;
  margin: 0px;

}

.sidenav {
  font-family: ibm-plex-mono, sans-serif;
  font-weight: 100;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #D1CE89;
  overflow-x:hidden;
  line-height: 0.5em;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  letter-spacing: 1.5pt;
  z-index: 5;
}

.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: inline;
}

.sidenav a:hover {
  color: #E8CC8E;
}

/*setting*/

.recipe {
  font-size: 16pt;
  padding: 15em 15em 15em 15em;
}



#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}


#one {
  top: 250px;
  background-color: #E8CC8E;
  position: absolute; /* Position them relative to the browser window */
  left: -110px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 150px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#two {
  top: 310px;
  background-color: #E8CC8E; 
  position: absolute; /* Position them relative to the browser window */
  left: -110px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 150px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#three {
  top: 370px;
  background-color: #E8CC8E;
  position: absolute; /* Position them relative to the browser window */
  left: 0px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 150px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */ 
}

#four {
  top: 430px;
  background-color: #E8CC8E;
  position: absolute; /* Position them relative to the browser window */
  left: -110px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 150px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#five {
  top: 490px;
  background-color: #E8CC8E;
  position: absolute; /* Position them relative to the browser window */
  left: -110px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 150px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#startover {
  top: 550px;
  background-color: #E8CC8E;
  position: absolute; /* Position them relative to the browser window */
  left: -110px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 150px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

.repeat a {
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: inline;
}

.repeat a:hover {
  color: #E8CC8E;
}