html {
  cursor: url(juyeon.png) 4 12, auto;
}

body {
font-family: brevier, sans-serif;
font-style: normal;
font-weight: 400;
text-align: center;
background-color: #FA7268;
margin: 0px;
}

.sectionhead {
  font-size: 18pt;
}

.studio {
  float: left;
  font-size: 15pt;
}

.lab {
  float: right;
  font-size: 15pt;
}

