body {
font-family: miller-text, serif;
font-style: normal;
font-weight: 700;
font-size: 10em;
color: #453423;
text-align: center;
background-color: #E8CC8E;
margin: 0px;
padding: 0.4em 1em 1em 1.5em;
}

.content {
font-family: miller-text, serif;
font-weight: 400;
font-size: 2rem;
text-align: left;
float: left;
padding-left: 1em;
width: 70%;

}

.list {
font-family: miller-text, serif;
font-style: normal;
font-weight: 400;
font-size: 2rem;
text-align: left;
float: left;
width: 70%;
}


.img {
  position: fixed;
  margin-left: 0.1em;
  float:right;
  z-index: -1;
}

.sidenav {
  font-family: miller-text, serif;
  font-weight: 400;
  height: 100%;
  width: 230px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #40382B;
  overflow-x: hidden;
  padding: 30px 10px 0px 0px;
  line-height: 0.5em;
  text-align: right;
  letter-spacing: 1.5pt;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
}

.sidenav a:hover {
  color: #E8CC8E;
}