/*J*/
#uppercase-j {
  position: absolute;
  left: 50px;
  display: block;
}

#j-1 {
  position: absolute;
  width: 130px;
  height: 190px;
  background-color: transparent;
  border-top:  30px solid black;
  border-right: 30px solid black;
}

#j-2 {
  position: absolute;
  left: 160px;
  width: 80px;
  height: 100px;
  background-color: transparent;
  border-top:  30px solid black;
}

#j-3 {
  position: absolute;
  top: 220px;
  width: 130px;
  height: 130px;
  background-color: transparent;
  border-right: 30px solid black;
  border-bottom: 30px solid black;;
  border-radius: 0px 0px 80px 30px;
}

/*P*/
#uppercase-p {
  position: relative;
  left: 400px;
  display: block;
}

#p-1 {
  width: 200px;
  height: 150px;
  background-color: transparent;
  border-top:  30px solid black;
  border-right: 30px solid black;
  border-left: 30px solid black;
  border-bottom: 30px solid black;
  border-radius: 0px 80px 80px 0px;
}

#p-2 {
  width: 200px;
  height: 180px;
  background-color: transparent;
  border-left: 30px solid black;
}

/*S*/
#uppercase-s {
  position: relative;
  left: 400px;
  display: block;
}

#s-1 {
  position: absolute;
  width: 100px;
  height: 110px;
  background-color: transparent;
  border-top:  30px solid black;
  border-left: 30px solid black;
  border-bottom: 30px solid black;
  border-radius: 80px 0px 0px 80px;
}

#s-2 {
  position: absolute;
  left: 130px;
  width: 110px;
  height: 110px;
  background-color: transparent;
  border-top:  30px solid black;
}

#s-3 {
  position: absolute;
  top: 140px;
  left: 130px;
  width: 100px;
  height: 110px;
  background-color: transparent;
  border-top: 30px solid black;
  border-right: 30px solid black;
  border-bottom: 30px solid black;
  border-radius: 0px 80px 80px 0px;
}

#s-4 {
  position: absolute;
  top: 170px;
  width: 130px;
  height: 110px;
  background-color: transparent;
  border-bottom: 30px solid black;
}

/*Y*/
#uppercase-y {
  position: relative;
  left: 400px;
  display: block;
}

#y-1 {
  position: absolute;
  width: 150px;
  height: 150px;
  border-right: 30px solid black;
  border-top: 30px solid transparent;
  border-left: 30px solid black;
  border-bottom: 30px solid black;
  border-top-left-radius: 160px;
  border-top-right-radius: 160px;
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
  
}

#y-2 { 
  position: absolute;
  top: 200px;
  left: 90px;
  width: 30px;
  height: 200px;
  background-color: black;
}

/*footer*/
button {
  position: absolute;
  bottom:0;

}