#wrapper {
  width:400px;
  height:500px;
  border: 1px solid transparent;
}

#uppercase-j {
  position: absolute;
  top: 50px;
  left: 50px;
}

#j-1 {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-top:  30px solid black;
  border-right: 60px solid black;
}

#j-2 {
  position: absolute;
  left: 160px;
  width: 70px;
  height: 100px;
  background-color: transparent;
  border-top:  30px solid black;
}

#j-3 {
  position: absolute;
  top: 130px;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-right: 60px solid black;
  border-bottom: 40px solid black;;
  border-radius: 0px 0px 80px 30px;
}


pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  width:400px;
}