/*setting*/

body {
  font-family: ibm-plex-mono, sans-serif;
  color: #453423;
  text-align: center;
  background-color: #E8CC8E;
  margin: 0px;
}

/*sidenav*/
.sidenav {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 10em;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #40382B;
  overflow-x: hidden;
  line-height: 0.5em;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  letter-spacing: 0.02em;
  z-index: 5;
}

.sidenav a {
  text-decoration: none;
  font-size: 0.2em;
  color: #fff;
  display: inline;
}

.sidenav a:hover {
  color: #E8CC8E;
}

/*nextprevbutton*/
.nextround {
  font-size: 4em;
  background-color: #40382B;
  color: white;
  border-radius: 10%;
  position: fixed;
  text-decoration: none;
  padding: 0px 10px 10px 10px;
  top: 50%;
  right: 0;
}

.prevround {
  font-size: 4em;
  background-color: #40382B;
  color: white;
  border-radius: 10%;
  position: fixed;
  text-decoration: none;
  padding: 0px 10px 10px 10px;
  top: 50%;
  left: 0;
  z-index: 10;
}

.nextprev a:hover {
  color: #E8CC8E;
}


/*content*/

.recipe {
  font-size: 1.5em;
  padding-top: 250px;
  padding-right: 27%;
  padding-left:27%;
  color: #40382B;
  float: left;
  line-height: 2em;
}

.ingre {
  background-color: #DDCFBB;
}
/*steps*/

.steps {
  background-color: #40382B;
  border: none;
  color: white;
  font-size: 2em;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
  position: relative;
  top: 170px;
}

.steps a:hover {
  color: #E8CC8E;
}

.steps a{
  text-decoration: none;
  color: #fff;
}

.again {
  background-color: #40382B;
  border: none;
  color: white;
  font-size: 2em;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
  position: relative;
  top: 170px;
}

.again a:hover {
  color: #E8CC8E;
}

.again a{
  text-decoration: none;
  color: #fff;
}