#wrapper {
  width:400px;
  height:500px;
  border: 1px solid transparent;
}

#uppercase-s {
  position: absolute;
  top: 50px;
  left: 50px;
}

#s-1 {
  position: absolute;
  width: 100px;
  height: 110px;
  background-color: transparent;
  border-top:  30px solid black;
  border-left: 30px solid black;
  border-bottom: 30px solid black;
  border-radius: 80px 0px 0px 80px;
}

#s-2 {
  position: absolute;
  left: 130px;
  width: 110px;
  height: 110px;
  background-color: transparent;
  border-top:  30px solid black;
}

#s-3 {
  position: absolute;
  top: 140px;
  left: 130px;
  width: 100px;
  height: 110px;
  background-color: transparent;
  border-top: 30px solid black;
  border-right: 30px solid black;
  border-bottom: 30px solid black;
  border-radius: 0px 80px 80px 0px;
}

#s-4 {
  position: absolute;
  top: 170px;
  width: 130px;
  height: 110px;
  background-color: transparent;
  border-bottom: 30px solid black;
}


pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  width:400px;
}