

.wrapper {
  /*width: calc(30vw + 30vh + 5vmin);
  height: calc(30vw + 30vh + 5vmin);
  margin: 0 auto;
  border: calc(1.5vw + 1.5vh + 1vmin) solid black;
  border-radius: %;
  overflow: hidden;*/
}

#circle {
  width: 100px;
  height: 100px;
  border : solid 5px rgba(0,0,0,1);
  border-radius: 50%;
}

.temperature {
 background-color: rgb(255,0,0) /*red*/
}

.humidity {
 background-color: rgb(255,255,0) /*yellow*/
}

.cloudiness {
 background-color: rgb(0,0,255); /*blue*/
}

.weathertext {
 background-color: rgb(0,153,0); /*green*/
}

.pressure {
  background-color: rgb(153,51,225); /*purple*/
}

#stroke {
  width: 8px;
  height: 200px;
  background-color: black;
}

