

.wrapper {
  width: calc(30vw + 30vh + 5vmin);
  height: calc(30vw + 30vh + 5vmin);
  margin: 0 auto;
  border: calc(1.5vw + 1.5vh + 1vmin) solid black;
  border-radius: %;
  overflow: ;
}

#circle {
  width: 30%;
  height: 30%;
  border : solid 3px rgba(0,0,0,0.7);
  border-radius: 50%;
  cursor: grab;
}

.temperature {
 background-color: rgba(255,0,0,0.7) /*red*/
}

.humidity {
 background-color: rgba(255,255,0,0.7) /*yellow*/
}

.cloudiness {
 background-color: rgba(0,0,255,0.7); /*blue*/
}

.weathertext {
 background-color: rgba(0,153,0,0.7); /*green*/
}

.pressure {
  background-color: rgba(153,51,225,0.7); /*purple*/
}

#stroke {
  width: 8px;
  height: 200px;
  background-color: black;
  cursor: grab;
}

