/*
html {
  background-color: ;
}

h1 {
  font-family: cronos-pro, sans-serif;
  font-weight: 700;
  font-size: 7vw;
  color: #011C3C;
}

p {
  font-family: cronos-pro, sans-serif;
  font-weight: 300;
  font-size: 4vw;
  color: grey;
}

p:hover {
  color: red;
}
*/

#canvas {
  overflow: hidden;
  display: inline-block;
}

.city1 {
  float: ;
  background-color: red;
  width: 35em;
  height: 30em;
}

.city2 {
  float: ;
  background-color: yellow;
  width: 35em;
  height: 30em;
}

.city3 {
  float: ;
  background-color: blue;
  width: 35em;
  height: 30em;
}

.city4 {
  float:;
  background-color: green;
  width: 35em;
  height: 30em;
}
