body {
font-family: miller-text, serif;
font-style: normal;
font-weight: 700;
font-size: 10em;
text-align: center;
background-color: #E8CC8E;
margin: 0px;
padding: 0.5em 1em 1em 1.5em;
}

.content {
font-family: miller-text, serif;
font-weight: 400;
font-size: 2rem;
text-align: left;
line-height: 1.6em;
padding-left: 1em;
width: 70%;
position: absolute;
left: 300px;
}

.sidenav {
  font-family: miller-text, serif;
  font-weight: 400;
  height: 100%;
  width: 230px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #523C31;
  overflow-x: hidden;
  padding: 30px 10px 0px 0px;
  line-height: 0.5em;
  text-align: right;
  letter-spacing: 1.5pt;
  z-index: 5;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: #E8CC8E;
}