html {
  height: 100%;
  margin: 0%;
}

body {
  background-image: url(computer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#s2 {
  position: absolute;
  top: 400px;
  left: 400px;
}

#s3 {
  position: absolute;
  top: 150px;
  left: 700px;
}